@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';



/* CONTACT PAGE */
.contact-cont {
    display: flex;
    justify-content: center;
 
  }
  .contact-cont .p-infor{
    display: grid;
    grid-template-columns: 50% 50%;

  }
  
  .p-infor img{
    width: 400px;
    height: 500px;
    margin-bottom: 10rem;
    margin-top: 8rem;
  }
  .emp-info{
    background-color: white;
    width: 400px;
    height: 500px;
    margin-bottom: 10rem;
    margin-top: 8rem;
 
  }
  
  .emp-info form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   margin-left: 2rem;
   margin-top: 9rem; 
   
  }
  .emp-info input{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    padding-left: 1rem ;
    
  }
  
  .emp-info button{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: #f69a00;
    padding-left: 1rem ;
    margin-top: -1rem;
  
  }
  
  /*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
  @media screen and (max-width: 575px) {
}


/* Add vertical lines after each column in the table */
.table-fixed th,
.table-fixed td {
  border: 1px solid ; /* Adjust the color as needed */
}


